/* Стили шрифтов */

@font-face {
  font-family: "Caprasimo";
  src: url("../../public/fonts/Caprasimo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cupertino";
  src: url("../../public/fonts/Cupertino.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "You20133";
  src: url("../../public/fonts/you20133.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat2";
  src: url("../../public/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat3";
  src: url("../../public/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AGSouvenirCyr";
  src: url("../../public/fonts/AGSouvenirCyr.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AGSouvenirCyrNew";
  src: url("../../public/fonts/AGSouvenirCyr2.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}