.button {
  width: auto;
  border: none;
  border-radius: 112px;
  padding: 10px 20px;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    opacity: 95%;
    border-color: transparent;
  }
}

.default {
  background-color: var(--green-color);
  color: white;
}

.green {
  background-color: var(--green-color);
  color: white;
}

.mint {
  background-color: var(--mint-color);
  color: white;
}

.saphire {
  background-color: var(--saphire-color);
  color: white;
}

.white {
  display: flex;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) and (pointer: fine) {
  .white:hover {
    background-color: #f2f2f2;
  }
}

.small {
  font-size: 12px;
  padding: 5px 10px;
}

.medium {
  font-size: 14px;
  padding: 10px 20px;
}

.large {
  font-size: 16px;
  padding: 15px 30px;
}