.page {
  background-image: url("../../../../public/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;

}

.form {
  width: 500px;
  background-color: rgba(240, 248, 255, 0.95);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 67.3vw;
  height: 80.85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 2.431vw;
  justify-content: center
}

.input{
  width: 23.73vw;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.otstupiki {
  margin-bottom: 1vh;
  width: 100%;
  /* max-width: 400px; */
}

.title{
  margin-bottom: 9vh;

}