.instruction__wrapper {
    padding: 160px 110px;
    display: flex;
    gap: 10px;
    background-image: url("../images/back3.png");
    background-size: 1340px 508px;
    background-repeat: no-repeat;
    background-position: top left;
}

.instruction__wrapper-left {
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.instruction__wrapper-right {
    width: 340px;
}

.instruction__link {
    width: 174px;
    padding: 16px;
    background-color: #07a97e;
    border-radius: 30px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}

.instruction__link:hover {
    color: #FFFFFF;
}

.instruction__header {
    margin: 0;
    font-size: 26px;
    line-height: 28px;
    color: #000000;
}

.instruction__text {
    font-size: 16px;
    line-height: 20px;
    color: #a4a4a4;
}

.instruction__wrapper-steps {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.instruction__wrapper-steps-item {
    display: grid;
    grid-template-columns: 62px 1fr;
    gap: 20px;
    align-items: center;
}

.instruction__wrapper-steps-number {
    width: 100%;
    font-size: 46px;
    line-height: 46px;
    font-weight: 500;
    color: #cecece;
    display: flex;
    margin: 0;
    text-align:justify;
}

.instruction__wrapper-colors {
    margin: 0;
    padding: 0;
    list-style: none;
}

.instruction__wrapper-colors-item {
    position: relative;
}

.instruction__wrapper-colors-name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #a4a4a4;
    padding: 0 0 0 47px;
}

.instruction__wrapper-colors-name::before {
    content: "";
    width: 40px;
    height: 3px;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.instruction__wrapper-colors-item--red .instruction__wrapper-colors-name::before {
    background-color: #911820;
}

.instruction__wrapper-colors-item--purple .instruction__wrapper-colors-name::before {
    background-color: #fecfff;
}

.instruction__wrapper-colors-item--orange .instruction__wrapper-colors-name::before {
    background-color: #a77730;
}

.instruction__wrapper-image {
    border: 4px solid #1d213b;
    box-shadow: #6b9ca0 10px 25px;
}