.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal {
    position:fixed;
    top: 10%;
    right: 0;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 8px 0 0 8px;
    padding: 1.5rem;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 350px;
    width: 100%;
}

.modal h3 {
    margin-top: 0;
    color: #d32f2f;
}

.modal p {
    margin: 0.5rem 0 1rem;
    font-size: 0.9rem;
    color: #333;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginButton {
    background-color: #f44336;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.closeButton {
    background: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    color: #f44336;
}

.mainButton{
    background-color: #17e439;
        border: none;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
}