.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profileHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.userName {
    width: 100%;
    margin: 15px 0;
    color: #1C2041;
    /* margin: 0; */
    font-size: 4.167vw;
    align-self: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    margin-bottom: 19px;
}

.avatar {
    border: none;
    border-radius: 50%;
    margin-bottom: 52px;
}

.profileInfo {
    color: #1C2041;
    font-size: 1.806vw
}